PCells
======

Gallery
-------

.. grid:: 1 2 2 3
   :gutter: 2
   :class-container: gallery-grid

{% for item in items %}
{%     if item.name not in skip_plot %}
   .. grid-item-card:: {{ item.name }}
      :link: #qpdk.cells.{{ item.name }}
      :text-align: center
      :class-card: gallery-card

      .. plot::

         from qpdk import cells, PDK

         PDK.activate()
         c = cells.{{ item.name }}({{ item.kwargs }}).copy()
         c.draw_ports()
         c.plot()

{%     endif %}
{% endfor %}

API Reference
-------------

{% for item in items %}
{{ item.name }}
{{ '^' * (item.name | length) }}

.. autofunction:: qpdk.cells.{{ item.name }}
{%     if item.name not in skip_plot %}
{%         if item.has_gds %}

.. tab-set::

   .. tab-item:: Static

      .. image:: kwasm/gds/{{ item.name }}.png
         :alt: {{ item.name }}

   .. tab-item:: Dynamic

      .. raw:: html

         <iframe src="kwasm/viewer.html?url=gds/{{ item.name }}.gds" loading="lazy" width="100%" height="400" style="border:none"></iframe>

{%         else %}

.. plot::

   from qpdk import cells, PDK

   PDK.activate()
   c = cells.{{ item.name }}({{ item.kwargs }}).copy()
   c.draw_ports()
   c.plot()
{%         endif %}
{%     endif %}
{% endfor %}

References
----------

.. bibliography::
   :filter: docname in docnames
