
PCells
======
{% for item in items %}

{{ item.name }}
----------------------------------------------------

.. autofunction:: qpdk.cells.{{ item.name }}
{% if item.name not in skip_plot %}

.. plot::
  :include-source:

  from qpdk import cells, PDK

  PDK.activate()
  c = cells.{{ item.name }}({{ item.kwargs }}).copy()
  c.draw_ports()
  c.plot()
{% endif %}
{% endfor %}

References
==========

.. bibliography::
   :filter: docname in docnames
