{{ items[0].title }}
{{ "=" * items[0].title | length }}

{% for func_name in items[0].functions %}

{{ func_name }}
{{ "-" * func_name | length }}

.. autofunction:: qpdk.models.{{ func_name }}

{% if func_name not in items[0].skip_plots %}
.. plot::
   :include-source:

   import jax.numpy as jnp
   import matplotlib.pyplot as plt
   from qpdk.models import {{ func_name }}
   from qpdk import PDK

   PDK.activate()

   freq = jnp.linspace(2e9, 8e9, 501)
   freq_ghz = freq / 1e9
   s_model = {{ func_name }}(f=freq)

   plt.figure()
   plt.title("{{ func_name }}", fontsize=14)

   for (pout, pin), sij in s_model.items():
    i = int(pout[-1])  # "o2" -> 2
    j = int(pin[-1])   # "o1" -> 1

    if i >= j:
        plt.plot(
            freq_ghz,
            20 * jnp.log10(jnp.abs(sij)),
            label = "$S_{" + str(i) + str(j) + "}$"
        )
   plt.xlabel("Frequency [GHz]", fontsize=12)
   plt.ylabel("Magnitude [dB]", fontsize=12)
   plt.grid(True)
   plt.legend()
   plt.show()
{% endif %}

{% endfor %}

References
----------

.. bibliography::
   :filter: docname in docnames
