name: Build
on:
  pull_request:
  push:
    branches:
      - main
  merge_group:
  workflow_dispatch:
  workflow_call:
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7.1.3
      - run: make build
      - uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist
          compression-level: 9
          if-no-files-found: error
