name: Build
on:
  pull_request:
  push:
    branches:
      - main
  merge_group:
  workflow_dispatch:
  workflow_call:
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install just
        uses: extractions/setup-just@v2
      - name: Remove samples
        run: just rm-samples
      - uses: astral-sh/setup-uv@v7
      - run: just build
      - uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist
          compression-level: 9
          if-no-files-found: error
