name: Build
on:
  pull_request:
  push:
    branches:
      - main
  merge_group:
  workflow_dispatch:
  workflow_call:
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Remove samples
        run: make rm-samples
      - uses: astral-sh/setup-uv@v7.1.6
      - run: make build
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: dist
          path: dist
          compression-level: 9
          if-no-files-found: error
