name: Test
on:
  pull_request:
  push:
    branches:
      - main
  merge_group:
  workflow_dispatch:

env:
  GFP_API_KEY: ${{ secrets.GFP_API_KEY }}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.3
      - uses: j178/prek-action@v1.0.11
  get-python-versions:
    uses: ./.github/workflows/get-python-versions.yml
  test-code:
    needs: get-python-versions
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJson(needs.get-python-versions.outputs.python-versions) }}
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: make install
      - name: Test with pytest
        run: make test
  test-code-result:
    runs-on: ubuntu-latest
    name: Test result
    needs: test-code
    if: always()
    steps:
      - name: Check test matrix results
        run: |
          if [[ "${{ needs.test-code.result }}" == "success" ]]; then
            echo "All test jobs succeeded"
            exit 0
          else
            echo "One or more test jobs failed"
            exit 1
          fi
  test_gdsfactoryplus:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 12
      matrix:
        python-version: ["3.12"]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          make install
      - name: Test with pytest
        run: uv run gfp test
