name: Test
on:
  pull_request:
  push:
    branches:
      - main
  merge_group:
  workflow_dispatch:
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.6
      - uses: j178/prek-action@v1.0.11
  get-python-versions:
    uses: ./.github/workflows/get-python-versions.yml
  test-code:
    needs: get-python-versions
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJson(needs.get-python-versions.outputs.python-versions) }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          lfs: true
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: make install
      - name: Test with pytest
        run: make test
  test-code-result:
    runs-on: ubuntu-latest
    name: Test result
    needs: test-code
    if: always()
    steps:
      - name: Check test matrix results
        run: |
          if [[ "${{ needs.test-code.result }}" == "success" ]]; then
            echo "All test jobs succeeded"
            exit 0
          else
            echo "One or more test jobs failed"
            exit 1
          fi
